*{
    background-color: black;
    margin: 0px; padding: 0px;
    font-family:Verdana, Geneva, Tahoma, sans-serif
    
}
#navigation-container {
    position: relative;
    background-color: #352d2f;
    display: flex;
    flex-direction: row;
    justify-items: r;
    
}

ul {
    margin: 20px;
    display: flex;
    flex-direction: row;
    list-style-type: none;
    float: right;
}

a {
    text-decoration: none;
    color: aliceblue;
    font-size: 16px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 5px 15px;
    opacity: 0.7;
    
}

li {
    display: flex;
    flex-direction: row;
    align-items: center;
}

h2{
    color: aliceblue;
    font-size: 28px;
 
}

p{
    color: aliceblue;
    font-size: 16px;
}

img{
    display: block;
    margin: 0px auto;
    background-color: #f14f3f;
}
.logo{
    background-color: transparent;
    display: flex;
    flex-direction: row;
    float: left;
    margin: 10px 20px;

}

table{ 
    width: 70em; 
    color: aliceblue;
    justify-content: center;
    border-style: solid;
    border-color: #f14f3f;
    background-color: #f14f3f;
    size: 18px ;
    display: table;
    margin-left: 13% ;
    margin-bottom: 80px;
    
}

.zoom:hover{
    transform: scale(1.2); 
}

thead{
    justify-content: center;
}
caption{
    size: 28px;
    text-align: center;
    padding: 0px 100px 10px 100px;
    color: #f14f3f;
}

th {
    background-color: rgb(94, 94, 94);
    color: aliceblue;
    top: 10px;
    justify-content: center;
    border: 1px;
    border-style: solid;
    border-color: #f14f3f;
  
  }
  tbody{
      text-align: center;
      justify-content: center;
  }

#tdH{
      justify-items: center;
      align-items: center;
      
 }
 


td{
    background-color: rgb(94, 94, 94);
    color: aliceblue;
    top: 10px;
    justify-content: center;
    border: 2px;
    border-style: solid;
    border-color: #f14f3f;
    align-items:center;
      
}

.pres{
    text-align: inherit;
    text-size-adjust: 20px;
    background-image: url(https://images.pexels.com/photos/136404/pexels-photo-136404.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940 );
    background-color: transparent;
    background-position: center;
    padding: 250px 0 400px 0;
  }

 #title{ 
padding-inline-start: 60%;
padding-inline-end: 50px;
padding-top: 150px;
background-color: transparent;
    }

#text{
    padding-inline-start: 60%;
    padding-inline-end: 50px;
    background-color: transparent;

    }

.staffbody{
    background-color: black;
    position: relative;
    align-content: center;
    object-position: center;
    width: auto;
    padding: 50px 0px 50px 0px
    ;
    
}
.staff{
    background-color: rgb(94, 94, 94);
    color: #f14f3f;
    font-size: 20;
    margin: 0% 19% 0% 19%;
    position: center;
    text-align: center;
    align-items: center;
        
}

.stafT{
    background-color: rgb(94, 94, 94);
    color: #f14f3f;
    font-size: 20;
    width:auto;
    text-align: center;
    
}

.sInfo{ background-color: #f14f3f;
    padding: 1%;
    text-align: center;
    
}
.cont{
    display: flex;
    flex-direction: row;
    margin: auto;
    justify-content: center;
  
}

.caja1{
    margin: 5px 5px 5px 5px;
    border-spacing: 5px;
    width: 20%;
    align-items: center;
    background-color: #f14f3f
}

.caja2{
    margin: 5px 5px 5px 5px;
    width: 20%;
    align-items: center;
    background-color: #f14f3f

}.caja3{
    margin: 5px 5px 5px 5px;
    width: 20%;
    align-items: center;
    background-color: #f14f3f
    
}

.bodyAl{
    margin: 20px 20px 20px 20px;
    padding: 20px 20px 20px 20px;
    border-color: #352d2f;
    border-width: 10px;
    flex: auto;
    flex-direction: column;
    font-size: 18px;
  

}

.test{
    display: flex;
    flex-direction: row;
    padding: 10px 10px 10px 10px;
    justify-content: center;
    background-color: #f14f3f;
    color:aliceblue;
}


.box1{
    margin: 20px 20px 20px 20px;
    background-color: aliceblue;
    padding: 10px 10px 10px 10px;
    border-radius: 20px 20px 20px 20px;
    border-color:#352d2f;    
    border: 50px;
    
}

.box2{
    margin: 20px 20px 20px 20px;
    background-color: aliceblue;
    align-items: center;
    padding: 10px 10px 10px 10px;
    border-radius: 20px 20px 20px 20px;
    border: 5px;
}
    
.box3{
    margin: 20px 20px 20px 20px;
    background-color: aliceblue;
    align-items: center;
    padding: 10px 10px 10px 10px;
    border-radius: 20px 20px 20px 20px;
    border: 5px;
    
}
.box4{
    margin: 20px 20px 20px 20px;
    background-color: aliceblue;
    align-items: center;
    padding: 10px 10px 10px 10px;
    border-radius: 20px 20px 20px 20px;
    border: 5px;


    
}
.name{
    color: #f14f3f;
    text-align: right;
    background-color: aliceblue;
    padding: 10px 10px 10px 10px;
    border: 5px;

}
.testCont{
    background-color: aliceblue;
    color: #352d2f;
    font-size: 18px ;
}

.styleF{
    margin: 10px 20px 30px;
    
}
.footer{
    font-size: small;
    margin-left: 50%;
    text-align: left;
    color: aliceblue 
                 
}

.nov{
    padding: 20px 80px 80px 80px;
       
    
}
.nov1{
    margin: 120px 120px 5px 120px;
    color: aliceblue;
    text-align: center;
    border-style: solid;
    border-color: #f14f3f     
    }

   #position{
        justify-content: center;
        }

        
        
 .textF{
    justify-content: center;
    text-align: left;
    padding: 100px 100px 100px 100px;
    margin: 10px 80px 0 10px;

    }

    form {
        position : relative;
        width  : 740px;
        height : 498px;
        margin : 0 auto;
        padding: 1em;
        box-sizing: border-box;
        color: #f14f3f;
        
         }
        
     
     
     input, textarea {
        font    : 1.4em/1.5em "Verdana", cursive, sans-serif;
        border  : aliceblue;
        padding : 0 10px;
        margin  : 0;
        width   : 80%;
        background : aliceblue;
     }
    
     input:focus, textarea:focus {
        background   : rgba(0,0,0,.1);
        border-radius: 5px;
        color: aliceblue;
        border: #f14f3f;
     
      }
      textarea {
        display : block;
        padding : 10px;
        margin  : 10px 0 0 -10px;
        width   : 100%;
        height  : 90%;      
        border-right: 1px solid;           
        overflow: auto;
       
    }

    button {
        padding: 10px;
        font: bold .6em sans-serif;
        border: 2px solid #f14f3f;
        border-radius: 5px;
        background: none;
        cursor: pointer;
        background  : #FFF;
        color: #f14f3f;
        margin-top: 20px
      }
      
      button:after {
        content      : " >>>";
      }
      
      button:hover,
      button:focus {
        outline     : none;
        background  : #f14f3f;
        color       : #FFF;
      }

#myframe{
    padding: 1em;
    justify-content: right;
    position: relative;
    
}

.bloqueCont{
   padding-top: 100px;
}

#error{
color: #f14f3f;  }

@media (min-width:320px) {
    *{
        justify-items: center;
        background-color: black;
        font-family:Verdana, Geneva, Tahoma, sans-serif
            
        
    }
    #navigation-container {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: red;
        transform: translateX(-100vw);
        transition: 0.5s;
              
    }
    
    ul {
        margin: 20px;
        display: flex;
        flex-direction: row;
        list-style-type: none;
        float: right;
    }
    
    a {
        text-decoration: none;
        color: aliceblue;
        font-size: 16px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        padding: 5px 15px;
        opacity: 0.7;
        
    }
    
    li {
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    
    h2{
        color: aliceblue;
        font-size: 28px;
     
    }
    
    p{
        color: aliceblue;
        font-size: 16px;
        justify-content: center;
        text-align: center;
    }
    
    img{
        justify-content: center;
         background-color: #f14f3f;
         width: 300px;
        

    }
    .logo{
        background-color: transparent;
        display: flex;
        flex-direction: row;
        float: center;
        align-items: center;
        justify-content: center;
    
    }
    .pres{
        text-align: center;
        text-size-adjust: 20px;
        background-color: transparent;
        background-position: center;
        }  
        
        #title{ 
          background-color: transparent;
           margin: 0px; padding: 0px;
                }
            
         #text{
          margin: 0px; padding: 0px 5px 0px 5px;
          background-color: transparent;

           }

        /* .staffbody{
            border-color: #352d2f;
            font-size: 18px;
            display: flex ;
            flex-direction: column; 
           
        }
                   
    
    .staff{
        background-color: rgb(94, 94, 94);
        color: #f14f3f;
        font-size: 20;
        text-align: center;
        align-items: center;
        flex-direction: row;
        
            
        }
        
        .stafT{
            background-color: rgb(94, 94, 94);
            color: #f14f3f;
            font-size: 20;
            text-align: center;
            width: 300px;
        }
        
        .sInfo{ 
            background-color:#f14f3f;
            width: 300px;
                       
        }
        .cont{
             flex-direction: column-reverse;
             
             }             
         .caja1{
                align-items: center;   
                justify-content: center;
        }
        
        .caja2{       
            align-items: center;   
            justify-content: center;
        }
        
        .caja3{
            align-items: center;   
            justify-content: center;    
        }
         
        /* .contact{
            padding: 0px 10px 0px 10px;
            margin: 0px 10px 0px 10px ;
        }
        .bloqueCont{
           flex-wrap: wrap;
           position: relative;;
                     
        }

        .movil{    
            width: 200%;
         position: relative;
        }
        
        #titleMov{
            justify-content: left;
                       
        }

        #textMov{
            justify-content: left;
            width: 350px;
        }


        .form-group{
            width: 350px;
            object-position: center;
        }


       .iframe{
        width: 350px;
        justify-content: center;
    
       } */
    } 
/* formulario para entregar tp https://docs.google.com/forms/d/e/1FAIpQLSc-MGqsLzkixgKbjASlkTueosqELPHSAyp0Q6PLkJlfrGNvXQ/viewform */
